{% extends 'admin_layout.html' %}

{% block headsection %}
<script>
    $(document).ready(function() {
        $(".get-location").each(function(idx, el) {
            $(el).on("click", function(e) {
                var element = $(e.currentTarget);
                var ip = element.data("ip");
                $.ajax({
                    url: "/admin/getlocation",
                    method: "POST",
                    data: {
                        "ip": ip
                    },
                    success: function(e) {
                        if(e.latitude == "") {
                            alert("The location for the ip address was not found");
                        }
                        else {
                            var msg = "The latitude is" + e.latitude + " and the longitude is " + e.longitude;
                            alert(msg);
                        }
                    }
                });
            });

        });
    });
</script>
{% endblock headsection %}

{% block content %}
{% for group in logs %}
<div class="card bg-light">
    <div class="card-header logbtn row m-0 p-4">
        <h3>
            <strong>{{ group.ip }}</strong>
        </h3>
        <p class="mt-2 ml-4 badge badge-primary p-1">{{ group.high_frequency_log_count }} high frequency logs</p>
        <p class="mt-2 ml-4 badge badge-primary p-1"> {{ group.total_failures }} - total failed logins </p>
        <button class="get-location btn btn-secondary btn-sm ml-auto" data-ip="{{group.ip}}">Get Location</button>
    </div>
    
    <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ip address</th>
                <th scope="col">time</th>
                <th scope="col">success</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            <tbody>
              {% for log in group.logs %}
              <tr>
                  <th>{{ log.ip_address }}</th>
                  <td>{{ log.time }}</td>
                  <td>{{ log.success }}</td>
                  <td>{{ log.email }}</td>
              </tr>
          {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <h5><strong>Attempted Emails:</strong></h5>
        {% for email in group.attempted_emails %}
        <p class="mt-2 mr-4 badge badge-secondary p-1">{{ email }}</p>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}
