{% extends 'layout.html' %}

{% block content %}
<div class="message shadow-sm">
    <div class="row">
        <div class="col-md-1">
            <img src="../static/img/icon.png" alt="profilepic" class="profile-picture">
        </div>
        <div class="col-md-11">
            <p>username</p>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima alias, laudantium eligendi quae corrupti ipsum quasi similique placeat maxime accusamus enim perspiciatis asperiores sequi ullam nulla distinctio consequatur quas reiciendis.</p>
        </div>
    </div>
</div>
{% endblock content %}