<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flack</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages%}
        <div class="flash-message {{ category }}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}
    <main>
        <aside class="menu">
            <!--workspace-->
            <div class="teams">
                <div class="team">
                    <p class="team-name">FC</p>
                </div>
                <div class="team">
                    <p class="team-name">FC</p>
                </div>
                <div class="team">
                    <p class="team-name">FC</p>
                </div>
            </div>
            <!---->
            <div class="workspace-column">
                <i class="far fa-bell icon notification"></i>
                <h1 class="workspace-name">Flask Workspace</h1>
                <p class="username-text">admin1000</p>

                <h4>Channels</h4>
                <i class="fas fa-plus icon add-channel"></i>
                <div class="channel-list">
                    <p># random</p>
                </div>
                <div class="channel-list active">
                    <p># general</p>
                </div>
                <div class="channel-list">
                    <p># documents</p>
                </div>
                <h4>Direct Messages</h4>
            </div>
        </aside>
        <nav>
            <div class="channel-name">
                <p>#general</p>
            </div>
        </nav>
        <!--main content-->
        <div class="container">

        </div>
    </main>
</body>

</html>