<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flack</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, message in messages%}
    <div class="flash-message {{ category }}">
        <p>{{ message }}</p>
        <i class="far fa-times-circle flash-close"></i>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <aside class="menu">
            <!--workspace-->
            <div class="teams">
                <div class="team active">
                    <p class="team-name" id="Home"><i class="fas fa-home"></i></p>
                </div>
                {% if workspaces %}
                {% for space, id in workspaces.items() %}
                <div class="team">
                    <p class="team-name" id="{{ id }}">{{ space }}</p>
                </div>
                {% endfor %}
                {% else %}
                <div class="team">
                    <p class="team-name">+</p>
                </div>
                {% endif %}
                <div class="team" id="add-team">
                    <p class="team-name" id="add-team">+</p>
                </div>
            </div>
            <!---->
            <div class="workspace-column">
                <i class="far fa-bell icon notification"></i>
                <h1 class="workspace-name">Home</h1>
                <p class="username-text">{{ user }}</p>

                <h4>Channels</h4>
                <a class="add-channel" href="#channel-toggle" data-toggle="collapse" aria-expanded="false"
                    aria-controls="channel-toggle"><i class="fas fa-plus"></i></a>
                <div class="collapse pr-4" id="channel-toggle">
                    <div class="row mb-2">
                        <div class="col-6">
                                <input class="form-control-sm mt-2" type="text" placeholder="Channel Name" id="new-channel-name">
                        </div>
                        <div class="col-6">
                            <button class="btn btn-sm btn-primary" type="button" id="add-channel-button">+</button>
                        </div>  
                            
                    </div>
                </div>
                <div class="channel-container">
                </div>
                <h4>Direct Messages</h4>
                <div class="user-container pt-4">
                </div>
            </div>
        </aside>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#"># Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <form class="form-inline ml-auto">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        <a href="{{url_for('logout')}}" class="btn btn-secondary my-2 my-sm-0 ml-3 mr-3"><i class="fas fa-sign-out-alt"></i></a>
                    </form>
                </div>
            </nav>

            <!--main content-->
            <div class="container main-area">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="row message-bar shadow-lg">
                <input type="text" id="message-input" class="form-control" placeholder="Hello there....">
                <button class="btn btn-success" id="message-send">Send</button>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="../static/main.js"></script>


</body>

</html>