<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/login.css">
    <title>Login or Register</title>
</head>

<body>
    <nav>
        <img src="../static/img/icon.png" alt="flack-logo">
        <h1>Welcome to Flack</h1>
    </nav>
    <main>
        <div class="login-form">
            {% block form %}
            {% endblock form %}
        </div>
    </main>
</body>

</html>