{% extends 'login_layout.html' %}

{% block form %}
<h1>Sign Up for Your Workspace</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class="form-label")}}
        {{ form.username(class="form-input")}}
    </div>
    <div class="form-group">
        {{ form.email.label(class="form-label")}}
        {{ form.email(class="form-input")}}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-label")}}
        {{ form.password(class="form-input")}}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label(class="form-label")}}
        {{ form.confirm_password(class="form-input")}}
    </div>
    <div class="form-group">
        {{ form.submit(class='form-button')}}
    </div>
<hr>
<p>Already have a workspace? <a href="{{ url_for('login')}}"> Login </a></p>
</form>
{% endblock form %}