{% extends 'login_layout.html' %}

{% block form %}
<h1>Reset Password</h1>
<form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.current_password.label(class="form-label")}}
            {{ form.current_password(class="form-input")}}
        </div>
        <div class="form-group">
            {{ form.new_password.label(class="form-label")}}
            {{ form.new_password(class="form-input")}}
        </div>
        <div class="form-group">
            {{ form.submit(class='form-button')}}
        </div>
    <hr>
    </form>
{% endblock form %}
